@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';
@use '../../styles/fonts.scss';

.weather {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: sizes.$gap-large;
  width: 100%;
  max-width: sizes.$screen-xl;
  margin: sizes.$margin-large;
  align-content: baseline;
}

.weather__main {
  display: flex;
  flex-direction: column;
  gap: sizes.$gap-large;
}

@media (max-width: sizes.$screen-xl) {
  .weather {
    padding: sizes.$padding-small;
    grid-template-columns: 2fr 2fr;
  }
}

@media (max-width: sizes.$screen-md) {
  .weather {
    grid-template-columns: 1fr;
  }
  .weather__main {
    width: 100%;
  }
}
