// Gaps
$gap-small: 8px;
$gap-medium: 16px;
$gap-large: 24px;

// Padding
$padding-small: 8px;
$padding-medium: 16px;
$padding-large: 24px;

// Margins
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;

// Border radius
$border-radius-small: 8px;
$border-radius-medium: 16px;
$border-radius-large: 24px;

// Width
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;