@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';
@use '../../styles/fonts.scss';

.weather__box {
    background-color: colors.$background-box-color-light;
    padding: sizes.$padding-medium;
    border-radius: sizes.$border-radius-medium;
}